In [344]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

from sklearn.model_selection import train_test_split

In [348]:
df = pd.read_excel('car_dataset.xlsx')


features = ['YEAR','MAKE','MODEL','no_of_damages', 'score']

features = df[features]
target = df['price']

In [349]:
features.shape

(1323, 5)

In [350]:
target.shape

(1323,)

In [351]:
df.head()

   YEAR  MAKE    MODEL  no_of_damages  score  damage_rates      price
0  1979  Ford   Fiesta              7   0.42          2.94  181471.50
1  1980  Ford   Fiesta              3   0.28          0.84   37160.76
2  1988  Ford  Festiva              2   0.46          0.92   53182.44
3  1989  Ford  Festiva              8   0.44          3.52  215670.40
4  1990  Ford  Festiva              7   0.38          2.66  263390.54

In [352]:
features.head()

   YEAR  MAKE    MODEL  no_of_damages  score
0  1979  Ford   Fiesta              7   0.42
1  1980  Ford   Fiesta              3   0.28
2  1988  Ford  Festiva              2   0.46
3  1989  Ford  Festiva              8   0.44
4  1990  Ford  Festiva              7   0.38

In [354]:
dummy_df = pd.get_dummies(features['MAKE'])

In [355]:
dummy_df.head()

   BMW  Ford
0    0     1
1    0     1
2    0     1
3    0     1
4    0     1

In [356]:
features = features.merge(dummy_df,left_index=True, right_index=True)

In [359]:
features.head()

   YEAR    MODEL  no_of_damages  score  BMW  Ford
0  1979   Fiesta              7   0.42    0     1
1  1980   Fiesta              3   0.28    0     1
2  1988  Festiva              2   0.46    0     1
3  1989  Festiva              8   0.44    0     1
4  1990  Festiva              7   0.38    0     1

In [358]:
del features['MAKE']

In [360]:
dummy_df = pd.get_dummies(features['MODEL'])

In [361]:
features = features.merge(dummy_df,left_index=True, right_index=True)

In [362]:
features.head()

,YEAR,MODEL,no_of_damages,score,BMW,Ford,300,501,502,503,...,X4,X5,X6,X7,Z3,"Z3, M",Z4,Z8,i3,i8
0,1979,Fiesta,7,0.42,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1980,Fiesta,3,0.28,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1988,Festiva,2,0.46,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1989,Festiva,8,0.44,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1990,Festiva,7,0.38,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [363]:
del features['MODEL']

In [289]:
df.loc[0]

YEAR               1979
MAKE               Ford
MODEL            Fiesta
no_of_damages         7
score              0.42
damage_rates       2.94
price            181472
Name: 0, dtype: object

In [290]:
features.loc[1]

YEAR             1980.00
no_of_damages       3.00
score               0.28
BMW                 0.00
Ford                1.00
                  ...
Z3, M               0.00
Z4                  0.00
Z8                  0.00
i3                  0.00
i8                  0.00
Name: 1, Length: 133, dtype: float64

In [291]:
features['Fiesta']

0       1
1       1
2       0
3       0
4       0
       ..
1318    0
1319    0
1320    0
1321    0
1322    0
Name: Fiesta, Length: 1323, dtype: uint8

In [292]:
features.head()

,YEAR,no_of_damages,score,BMW,Ford,300,501,502,503,507,...,X4,X5,X6,X7,Z3,"Z3, M",Z4,Z8,i3,i8
0,1979,7,0.42,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1980,3,0.28,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1988,2,0.46,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1989,8,0.44,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1990,7,0.38,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [293]:
target.head()

0    181471.50
1     37160.76
2     53182.44
3    215670.40
4    263390.54
Name: price, dtype: float64

In [364]:
x = features
y = target

In [409]:
model.columns

AttributeError: 'LinearRegression' object has no attribute 'columns'

In [412]:
l1 = list(features.columns)

In [413]:
l1

['YEAR',
 'no_of_damages',
 'score',
 'BMW',
 'Ford',
 300,
 501,
 502,
 503,
 507,
 700,
 1500,
 2002,
 2800,
 '1-Series',
 '1500, 1600, 1800, 1800TI',
 '1500, 1800',
 '1600, 1600-2, 1600TI, 1800, 1800TI, 2000, 2000C, 2000CS, 2000TI',
 '1600, 1600-2, 1800, 1800TI, 2000, 2000C, 2000CS, 2000TI',
 '1600, 1600GT, 1600TI, 1800, 2000, 2000C, 2000CS, 2000TI',
 '1600, 1800, 1800TI, 2000C, 2000CS',
 '1600, 1800, 2000, 2000C, 2000CS',
 '1600, 2000',
 '1600, 2000, 2000 Touring, 2000TII',
 '1941 Ford: Deluxe / Super Deluxe',
 '1949 Ford: Deluxe / Custom',
 '1952 Ford: Mainline / Customline / Crestline',
 '2-Series',
 '2-Series Gran Coupé',
 '2-Series, M2',
 '2000 Touring, 2000TII',
 '2002, 2000TI',
 '2002, 2002TI',
 '2002, 2002TII',
 '250 Isetta',
 '2500, 2800, 2800 Bavaria, 2800CS',
 '2500, 2800, 2800CS',
 '2600, 2600L, 3200CS, 3200L, 3200S',
 '2600, 2600L, 3200L, 3200S',
 '2600L, 3200CS, 3200S',
 '2800CS',
 '3-Series',
 '3-Series Gran Turismo',
 '3-Series, M3',
 '3.0 Bavaria, 3.0CS, 3.0CSL, 3.0S',
 '3.0CS, 3.0CSL, 3.0S',
 '3.0CSI, 3.0S, 3.0SIO',
 '3.0SI',
 '300 Isetta',
 '3200CS',
 '4-Series',
 '4-Series, M4',
 '5-Series',
 '5-Series Gran Turismo',
 '5-Series, M5',
 '6-Series',
 '6-Series Gran Turismo',
 '6-Series, M6',
 '600 Isetta',
 '7-Series',
 '700, 700 LS',
 '8-Series',
 'Aerostar',
 'Aspire',
 'Bronco',
 'Bronco II',
 'C-Max',
 'Contour',
 'Country Squire',
 'Crown Victoria',
 'Custom 500',
 'Durango',
 'E-Series',
 'EXP',
 'EcoSport',
 'Edge',
 'Escape',
 'Escort',
 'Excursion',
 'Expedition',
 'Explorer',
 'Explorer Sport Trac',
 'F-Series',
 'F-Series Super Duty',
 'Fairlane',
 'Fairmont',
 'Falcon',
 'Falcon Ranchero',
 'Festiva',
 'Fiesta',
 'Five Hundred',
 'Flex',
 'Focus',
 'Freestar',
 'Freestyle',
 'Fusion',
 'GT',
 'Galaxie',
 'Gran Torino',
 'Granada',
 'LTD',
 'LTD Crown Victoria',
 'LTD Fox',
 'LTD II',
 'M1',
 'Maverick',
 'Mustang',
 'Mustang Mach-E',
 'Pinto',
 'Probe',
 'Ranchero',
 'Ranger',
 'Taurus',
 'Taurus X',
 'Tempo',
 'Thunderbird',
 'Torino',
 'Transit',
 'Transit Connect',
 'Windstar',
 'X1',
 'X2',
 'X3',
 'X4',
 'X5',
 'X6',
 'X7',
 'Z3',
 'Z3, M',
 'Z4',
 'Z8',
 'i3',
 'i8']

In [365]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=42)

In [366]:
model = LinearRegression().fit(X_train,y_train)

In [367]:
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [368]:
r_sq = model.score(X_train, y_train)

In [369]:
print(r_sq)

0.8021862505892151

In [370]:
r_sq_test = model.score(X_test,y_test)

In [371]:
r_sq_test

-8.025477704598167e+18

In [405]:
import pickle

In [406]:
filename = 'finalized_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [300]:
X_test.head()

,YEAR,no_of_damages,score,BMW,Ford,300,501,502,503,507,...,X4,X5,X6,X7,Z3,"Z3, M",Z4,Z8,i3,i8
727,2003,3,0.48,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
479,1994,4,0.35,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
240,1966,4,0.38,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
422,1981,8,0.34,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,1986,2,0.39,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [372]:
test_df = pd.DataFrame({'MAKE':['Ford'],'YEAR':[1996],'MODEL':['Aspire'],'no_of_damages':[4],'score':[0.36]})

In [373]:
test_df

   MAKE  YEAR   MODEL  no_of_damages  score
0  Ford  1996  Aspire              4   0.36

In [374]:
dummy_df = pd.get_dummies(test_df['MAKE'])

In [375]:
test_df = test_df.merge(dummy_df,left_index=True,right_index=True)

In [379]:
test_df

   YEAR   MODEL  no_of_damages  score  Ford
0  1996  Aspire              4   0.36     1

In [377]:
del test_df['MAKE']
dummy_df = pd.get_dummies(test_df['MODEL'])

In [378]:
dummy_df

   Aspire
0       1

In [381]:
test_df = test_df.merge(dummy_df,left_index=True,right_index=True)

In [382]:
test_df

   YEAR   MODEL  no_of_damages  score  Ford  Aspire
0  1996  Aspire              4   0.36     1       1

In [252]:
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [383]:
del test_df['MODEL']

In [384]:
l1=list(features.columns)

In [385]:
new_df  = pd.DataFrame({},columns= l1)

In [386]:
new_df.columns = l1

In [387]:
new_df

Empty DataFrame
Columns: [YEAR, no_of_damages, score, BMW, Ford, 300, 501, 502, 503, 507, 700, 1500, 2002, 2800, 1-Series, 1500, 1600, 1800, 1800TI, 1500, 1800, 1600, 1600-2, 1600TI, 1800, 1800TI, 2000, 2000C, 2000CS, 2000TI, 1600, 1600-2, 1800, 1800TI, 2000, 2000C, 2000CS, 2000TI, 1600, 1600GT, 1600TI, 1800, 2000, 2000C, 2000CS, 2000TI, 1600, 1800, 1800TI, 2000C, 2000CS, 1600, 1800, 2000, 2000C, 2000CS, 1600, 2000, 1600, 2000, 2000 Touring, 2000TII, 1941 Ford: Deluxe / Super Deluxe, 1949 Ford: Deluxe / Custom, 1952 Ford: Mainline / Customline / Crestline, 2-Series, 2-Series Gran Coupé, 2-Series, M2, 2000 Touring, 2000TII, 2002, 2000TI, 2002, 2002TI, 2002, 2002TII, 250 Isetta, 2500, 2800, 2800 Bavaria, 2800CS, 2500, 2800, 2800CS, 2600, 2600L, 3200CS, 3200L, 3200S, 2600, 2600L, 3200L, 3200S, 2600L, 3200CS, 3200S, 2800CS, 3-Series, 3-Series Gran Turismo, 3-Series, M3, 3.0 Bavaria, 3.0CS, 3.0CSL, 3.0S, 3.0CS, 3.0CSL, 3.0S, 3.0CSI, 3.0S, 3.0SIO, 3.0SI, 300 Isetta, 3200CS, 4-Series, 4-Series, M4, 5-Series, 5-Series Gran Turismo, 5-Series, M5, 6-Series, 6-Series Gran Turismo, 6-Series, M6, 600 Isetta, 7-Series, 700, 700 LS, 8-Series, Aerostar, Aspire, Bronco, Bronco II, C-Max, Contour, Country Squire, Crown Victoria, Custom 500, Durango, E-Series, EXP, EcoSport, Edge, Escape, Escort, Excursion, Expedition, Explorer, Explorer Sport Trac, F-Series, F-Series Super Duty, Fairlane, Fairmont, Falcon, Falcon Ranchero, Festiva, Fiesta, Five Hundred, Flex, Focus, Freestar, Freestyle, Fusion, GT, Galaxie, Gran Torino, Granada, ...]
Index: []

[0 rows x 133 columns]

In [388]:
test_df.columns

Index(['YEAR', 'no_of_damages', 'score', 'Ford', 'Aspire'], dtype='object')

In [389]:
new_test_df = test_df.merge(new_df,how='left')

In [390]:
type(new_test_df)

pandas.core.frame.DataFrame

In [391]:
type(X_test)

pandas.core.frame.DataFrame

In [392]:
new_test_df

,YEAR,no_of_damages,score,Ford,Aspire,BMW,300,501,502,503,...,X4,X5,X6,X7,Z3,"Z3, M",Z4,Z8,i3,i8
0,1996,4,0.36,1,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [393]:
new_test_df.fillna(0,inplace=True)

In [394]:
new_test_df

,YEAR,no_of_damages,score,Ford,Aspire,BMW,300,501,502,503,...,X4,X5,X6,X7,Z3,"Z3, M",Z4,Z8,i3,i8
0,1996,4,0.36,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [395]:
X_test

,YEAR,no_of_damages,score,BMW,Ford,300,501,502,503,507,...,X4,X5,X6,X7,Z3,"Z3, M",Z4,Z8,i3,i8
727,2003,3,0.48,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
479,1994,4,0.35,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
240,1966,4,0.38,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
422,1981,8,0.34,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,1986,2,0.39,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1301,2017,6,0.36,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
575,2018,4,0.40,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
953,1979,6,0.49,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1098,1993,5,0.35,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
170,2006,1,0.34,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [396]:
predic_df = pd.DataFrame({},columns=l1)

In [326]:
for item in l1:
    predic_df[item] = new_test_df[item]

In [397]:
predic_df[l1] = new_test_df[l1]

In [399]:
predic_df

,YEAR,no_of_damages,score,BMW,Ford,300,501,502,503,507,...,X4,X5,X6,X7,Z3,"Z3, M",Z4,Z8,i3,i8
0,1996,4,0.36,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [400]:
predict_data = model.predict(predic_df)

In [402]:
predicted_price = predict_data[0]

In [403]:
predicted_price

110098.0

In [228]:
predict_data[1]

IndexError: index 1 is out of bounds for axis 0 with size 1

In [78]:
y_test[479]

139406.4

In [37]:
predict_data

array([119984.])